* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

.clockA {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee url("img/clock.png");
    background-size: cover;
    border-radius: 30%;
    border: 4px solid #fff;
    box-shadow: 0 -15px 15px rgba(0, 0, 0, 0.05),
        0 20px 20px rgba(0, 0, 0, 0.3),
        inset 0 -15px 15px rgba(0, 0, 0, 0.05),
        inset 0 20px 20px rgba(0, 0, 0, 0.3);
}

.clockA::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 15;
}

.hora, .min, .sec {
    position: absolute;
}

.hora, .hr {
    width: 160px;
    height: 160px;
}

.min, .mn {
    width: 190px;
    height: 190px;
}

.sec, .sc {
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    transform: rotateZ(0deg);
}

.hr::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #500921;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #1E536E;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #333;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}